In [1]:
import pandas as pd
import numpy as np
import copy

In [2]:
# Crosswalk from place to county
# data link: http://mcdc.missouri.edu/cgi-bin/uexplore?/data/corrlst

# PROBLEM: Nashville is a (balance) instead of city. Bethesda is a CDP instead of city. 
# Check for more cases like this and somehow fix

xwalk = pd.read_csv('data/place_county.csv')
# get cities and state 2dig abbrv
xwalk = xwalk.loc[xwalk['PlaceName'].str.endswith('city')]
xwalk['city'] = xwalk['PlaceName'].str.split(' city').str[0]
xwalk['state'] = xwalk['CntyName'].str[-2:]
xwalk['county'] = xwalk['county'].astype(int)
xwalk['place_2000_pop'] = xwalk['pop100']
# just keep necessary columns
xwalk = xwalk.loc[:, ['state', 'county','city', 'afact', 'place_2000_pop']]
xwalk.head(5)

  state  county            city  afact place_2000_pop
1    AL    1067       Abbeville  1.000           2987
2    AL    1073      Adamsville  1.000           4965
5    AL    1117       Alabaster  1.000          22619
6    AL    1095     Albertville  1.000          17247
7    AL    1123  Alexander City  1.000          15008

In [3]:
# population crosswalk
xwalk_pop = xwalk.groupby(['state', 'city'])['place_2000_pop'].sum().reset_index()
xwalk_pop.head(5)

  state       city place_2000_pop
0    AK     Akhiok             80
1    AK      Akiak            309
2    AK     Akutan            713
3    AK  Aleknagik            221
4    AK  Allakaket             97

In [4]:
# FCC data via Tedi-- thank you!
# Subset data to keep DSL, cable, and fiber only
# Only include consumer internet providers
fccraw = pd.read_stata('data/US_2018_county.dta')
cond = (fccraw['techcode'].isin([10, 11, 12, 20, 40, 41, 42, 43, 50])) & (fccraw['consumer'] == 1)
fccraw = copy.deepcopy(fccraw[cond])

In [5]:
## frn codes don't map perfectly to provider name, but it just seems to be a renaming issue
# x = (fcc.groupby('frn')['providername'].unique().str.len() > 1)
# ntrue = x[x == 1]
# fcc[fcc['frn'] == 4056248]

## get number of providers by city, weighting by 2000 county population
# number of providers per county
fcc = fccraw.groupby('county')['frn'].nunique().reset_index()
fcc = fcc.merge(xwalk, on = 'county')

fcc['afact'] = fcc['afact'].astype(float)

# weighted average function
def wavg(df):
    return((df['frn'] * df['afact']).sum().round())

# weighted average number of providers by city
fcc_gby = fcc.groupby(['state','city'])
fcc = fcc_gby.apply(wavg).reset_index()
fcc = fcc.rename(columns = {0: 'w_avg_numproviders'})
fcc = fcc.merge(fcc_gby['frn'].mean().reset_index()
                .rename(columns = {'frn': 'avg_numproviders'}), on = ['state', 'city'])
fcc = fcc.merge(fcc_gby['frn'].median().reset_index()
                .rename(columns = {'frn': 'median_numproviders'}), on = ['state', 'city'])

fcc.head(5)

  state       city  w_avg_numproviders  avg_numproviders  median_numproviders
0    AK     Akhiok                 3.0               3.0                  3.0
1    AK      Akiak                 3.0               3.0                  3.0
2    AK     Akutan                 1.0               1.0                  1.0
3    AK  Aleknagik                 2.0               2.0                  2.0
4    AK  Allakaket                 6.0               6.0                  6.0

In [6]:
# Work from home data
work = pd.read_csv('data/horton_data/gcs-apr5_w_states.csv')
# city is the 4th geographic identifier in the "geo" column
work['city'] = work['geo'].str.split('-').str[3]

# count number of observations with city data-- 13599/25K. 54% of sample
print("Number of obs with city data: {}".format(work['city'].notnull().sum()))

# count number of cities matched to fcc data
merged = work.merge(fcc, on = ['state', 'city'], how = 'left')
print("Number of matched obs: {}".format(merged['avg_numproviders'].notnull().sum()))

# unmatched cities:
print('Unmerged GEOs')
print(merged[(merged['avg_numproviders'].isnull()) & (merged['city'].notnull())]['geo'].unique())

merged.head(5)

Number of obs with city data: 13599
Number of matched obs: 11233
Unmerged GEOs
['US-SOUTH-TN-Nashville' 'US-WEST-HI-Napili-Honokowai'
 'US-NORTHEAST-NJ-Lakewood Township' 'US-SOUTH-VA-Tuckahoe'
 'US-SOUTH-GA-Rex' 'US-WEST-ID-Boise' 'US-NORTHEAST-NY-Queensbury'
 'US-NORTHEAST-PA-Huntingdon' 'US-MIDWEST-IN-Schererville'
 'US-WEST-AZ-Marana' 'US-SOUTH-SC-Hilton Head Island'
 'US-MIDWEST-WI-Plover' 'US-SOUTH-NC-Winston-Salem' 'US-SOUTH-AL-Shelby'
 'US-WEST-CA-Goleta' 'US-SOUTH-LA-Sun' 'US-MIDWEST-MO-KCMO'
 'US-SOUTH-DE-Pike Creek' 'US-WEST-AK-Anchorage'
 'US-NORTHEAST-RI-Westerly' 'US-NORTHEAST-NY-Ballston'
 'US-SOUTH-VA-Reston' 'US-WEST-HI-Wailuku' 'US-MIDWEST-IN-Indianapolis'
 'US-MIDWEST-MI-Cassopolis' 'US-MIDWEST-MO-Affton' 'US-WEST-NV-Kingsbury'
 'US-SOUTH-DE-Glasgow' 'US-MIDWEST-WI-Caledonia'
 'US-SOUTH-TN-Collierville' 'US-WEST-AZ-Sahuarita'
 'US-SOUTH-MD-Washington' 'US-NORTHEAST-ME-Falmouth'
 'US-SOUTH-VA-Abingdon' 'US-MIDWEST-WI-Mount Pleasant'
 'US-WEST-NV-Incline Village' 'US-WEST-AZ-Gilbert'
 'US-MIDWEST-MI-Waterford Township' 'US-SOUTH-LA-Prairieville'
 'US-WEST-HI-Kihei' 'US-SOUTH-AL-Grand Bay' 'US-WEST-NV-Carson City'
 'US-WEST-CA-Ventura' 'US-NORTHEAST-NY-Fredonia' 'US-SOUTH-FL-Jupiter'
 'US-NORTHEAST-PA-Lewistown' 'US-NORTHEAST-NY-Dansville'
 'US-NORTHEAST-PA-Shippensburg' 'US-MIDWEST-IN-Westfield'
 'US-SOUTH-TX-The Woodlands' 'US-MIDWEST-MI-Forest Hills'
 'US-NORTHEAST-NJ-Brick Township' 'US-WEST-AZ-Buckeye' 'US-WEST-CO-Frisco'
 'US-SOUTH-DE-Claymont' 'US-SOUTH-NC-Cary' 'US-SOUTH-SC-Edisto'
 'US-SOUTH-DE-Brookside' 'US-SOUTH-VA-Washington' 'US-SOUTH-AL-Killen'
 'US-WEST-CO-Windsor' 'US-SOUTH-FL-Myakka City' 'US-SOUTH-VA-Falmouth'
 'US-WEST-HI-Honolulu' 'US-SOUTH-NC-Landis' 'US-NORTHEAST-NJ-Cherry Hill'
 'US-NORTHEAST-PA-Bellefonte' 'US-SOUTH-FL-Davie'
 'US-WEST-AZ-Casas Adobes' 'US-SOUTH-FL-North Naples' 'US-MIDWEST-IN-Avon'
 'US-MIDWEST-OH-Ashville' 'US-MIDWEST-IN-Fishers' 'US-MIDWEST-IL-Oak Park'
 'US-SOUTH-FL-Navarre' 'US-SOUTH-VA-Marion' 'US-MIDWEST-MO-Saint Charles'
 'US-WEST-HI-Kahului' 'US-NORTHEAST-NJ-Washington Township'
 'US-SOUTH-VA-Stuarts Draft' 'US-NORTHEAST-NY-Lake Placid'
 'US-SOUTH-FL-The Villages' 'US-NORTHEAST-MA-Acton'
 'US-MIDWEST-MO-Concord' 'US-WEST-AZ-Catalina Foothills'
 'US-SOUTH-VA-Chesterfield' 'US-SOUTH-VA-Culpeper'
 'US-NORTHEAST-PA-Mechanicsburg' 'US-SOUTH-FL-Palm City'
 'US-SOUTH-GA-Athens' 'US-SOUTH-VA-Burke' 'US-MIDWEST-IN-Merrillville'
 'US-SOUTH-FL-Rotonda West' 'US-NORTHEAST-MA-Plymouth'
 'US-MIDWEST-IA-Omaha' 'US-SOUTH-NC-Kernersville' 'US-SOUTH-VA-Innsbrook'
 'US-SOUTH-VA-Arlington' 'US-WEST-AZ-Sun City West'
 'US-MIDWEST-MN-Saint Paul' 'US-SOUTH-LA-Ferriday'
 'US-WEST-NV-Gardnerville Ranchos' 'US-NORTHEAST-CT-West Hartford'
 'US-SOUTH-VA-Ashburn' 'US-NORTHEAST-NJ-Stafford Township'
 'US-WEST-CO-Highlands Ranch' 'US-NORTHEAST-PA-Wilkes-Barre'
 'US-NORTHEAST-NY-New Paltz' 'US-SOUTH-FL-Merritt Island'
 'US-SOUTH-FL-Spring Hill' 'US-WEST-NM-Los Alamos' 'US-WEST-AZ-Maricopa'
 'US-SOUTH-SC-Summerville' 'US-SOUTH-FL-Lakewood Ranch'
 'US-SOUTH-VA-Mechanicsville' 'US-WEST-UT-Snyderville'
 'US-MIDWEST-IL-South Elgin' 'US-NORTHEAST-NJ-Egg Harbor Township'
 'US-WEST-AZ-Sun City' 'US-SOUTH-GA-Peachtree Corners'
 'US-WEST-CA-El Dorado Hills' 'US-SOUTH-GA-Columbus'
 'US-NORTHEAST-PA-Chevy Chase Heights' 'US-NORTHEAST-NJ-Edison'
 'US-SOUTH-NC-Clemmons' 'US-SOUTH-VA-Spotsylvania Courthouse'
 'US-SOUTH-KY-Lexington' 'US-NORTHEAST-ME-York' 'US-SOUTH-MS-Carriere'
 'US-NORTHEAST-NJ-Galloway' 'US-NORTHEAST-NJ-East Brunswick'
 'US-MIDWEST-MI-Meridian charter Township' 'US-MIDWEST-KS-KCMO'
 'US-MIDWEST-WI-Cottage Grove' 'US-SOUTH-SC-Wilkinson Heights'
 'US-NORTHEAST-NY-Massena' 'US-SOUTH-NC-River Road'
 'US-NORTHEAST-PA-Milton' 'US-SOUTH-VA-Bon Air' 'US-MIDWEST-IL-Savoy'
 'US-SOUTH-VA-Midlothian' 'US-NORTHEAST-NY-Saranac Lake'
 'US-NORTHEAST-NJ-Hamilton Township' 'US-SOUTH-FL-Ruskin'
 'US-MIDWEST-MO-Oakville' 'US-WEST-CA-Elk Grove' 'US-SOUTH-VA-Chantilly'
 'US-NORTHEAST-NJ-Toms River' 'US-SOUTH-GA-Sandy Springs'
 'US-WEST-AZ-Green Valley' 'US-NORTHEAST-CT-Windham'
 'US-SOUTH-VA-Woodbridge' 'US-WEST-CO-Parker' 'US-SOUTH-VA-Glen Allen'
 'US-SOUTH-VA-Christiansburg' 'US-MIDWEST-IL-Hoffman Estates'
 'US-SOUTH-TN-Ooltewah' 'US-SOUTH-NC-Lewisville'
 'US-MIDWEST-IL-Arlington Heights' 'US-NORTHEAST-CT-Newington'
 'US-SOUTH-VA-Stafford Courthouse' 'US-MIDWEST-OH-Beckett Ridge'
 'US-NORTHEAST-PA-Indiana' 'US-NORTHEAST-CT-Southington'
 'US-WEST-CO-Breckenridge' 'US-NORTHEAST-CT-Cromwell'
 'US-SOUTH-VA-Franconia' 'US-WEST-CA-Orcutt' 'US-MIDWEST-IL-Normal'
 'US-SOUTH-GA-Augusta' 'US-SOUTH-VA-Annandale'
 'US-NORTHEAST-PA-Monroeville' 'US-SOUTH-DE-Bear' 'US-WEST-CO-Centennial'
 'US-MIDWEST-IN-Granger' 'US-NORTHEAST-CT-Montville'
 'US-WEST-UT-Summit Park' 'US-SOUTH-FL-Miramar Beach'
 'US-SOUTH-VA-Woodlake' 'US-MIDWEST-IL-Palatine' 'US-SOUTH-FL-Fruitville'
 'US-SOUTH-AL-Chelsea' 'US-MIDWEST-IL-Lisle' 'US-NORTHEAST-NY-Getzville'
 'US-NORTHEAST-NJ-Deptford Township' 'US-SOUTH-NC-Mooresville'
 'US-SOUTH-MD-Elkridge' 'US-SOUTH-FL-Gulf Gate Estates' 'US-WEST-MT-Butte'
 'US-WEST-CO-Castle Rock' 'US-MIDWEST-IL-Bourbonnais'
 'US-NORTHEAST-CT-Farmington' 'US-SOUTH-VA-Hampden Sydney'
 'US-SOUTH-LA-LaPlace' 'US-WEST-NV-Johnson Lane'
 'US-MIDWEST-MI-Clinton Township' 'US-NORTHEAST-PA-State College'
 'US-NORTHEAST-CT-Stonington' 'US-NORTHEAST-ME-Brunswick'
 'US-SOUTH-FL-Bee Ridge' 'US-SOUTH-LA-Reserve' 'US-SOUTH-VA-Dale City'
 'US-SOUTH-MD-Newark' 'US-MIDWEST-MO-Mehlville' 'US-NORTHEAST-PA-Ardmore'
 'US-MIDWEST-MO-Old Jamestown' 'US-NORTHEAST-NY-Cheektowaga'
 'US-MIDWEST-MI-Canton' 'US-WEST-CA-Alta Sierra' 'US-MIDWEST-IL-Morton'
 'US-NORTHEAST-PA-Ross Township' 'US-WEST-WA-Spokane Valley'
 'US-NORTHEAST-NJ-Little Egg Harbor Township' 'US-SOUTH-SC-Bamberg'
 'US-NORTHEAST-NY-Irondequoit' 'US-WEST-AZ-Drexel Heights'
 'US-NORTHEAST-NJ-Monroe Township'
 'US-MIDWEST-MI-Port Huron charter Township' 'US-SOUTH-VA-Farmville'
 'US-MIDWEST-OH-Boardman' 'US-SOUTH-GA-Johns Creek' 'US-SOUTH-VA-Chester'
 'US-SOUTH-GA-Porterdale' 'US-SOUTH-VA-Cave Spring' 'US-SOUTH-MD-Bethesda'
 'US-SOUTH-LA-Metairie' 'US-SOUTH-FL-Lutz' 'US-MIDWEST-WI-Waunakee'
 'US-NORTHEAST-NJ-Secaucus' 'US-MIDWEST-IL-Schaumburg' 'US-WEST-CO-Granby'
 'US-SOUTH-NC-Ahoskie' 'US-NORTHEAST-NJ-Fair Lawn' 'US-WEST-HI-Pukalani'
 'US-WEST-AZ-Oro Valley' 'US-NORTHEAST-NJ-Princeton' 'US-SOUTH-GA-Tucker'
 'US-SOUTH-VA-Patrick Springs' 'US-NORTHEAST-NJ-Parsippany-Troy Hills'
 'US-SOUTH-FL-Sarasota Springs' 'US-SOUTH-AR-Bella Vista'
 'US-NORTHEAST-CT-Plainville' 'US-SOUTH-MD-Potomac'
 'US-SOUTH-NC-Oak Ridge' 'US-SOUTH-VA-Laurel' 'US-WEST-NV-Dayton'
 'US-NORTHEAST-NJ-Franklin Township' 'US-SOUTH-SC-Brookdale'
 'US-NORTHEAST-PA-Danville' 'US-WEST-NV-Paradise' 'US-SOUTH-FL-Pace'
 'US-NORTHEAST-PA-Chambersburg' 'US-WEST-AZ-New River'
 'US-MIDWEST-OH-Waverly' 'US-NORTHEAST-NJ-Roxbury Township'
 'US-SOUTH-TX-Cypress']

,Unnamed: 0,id,time,status,pub_cat,gender,age,geo,weight,q,response_time,region,state,city,w_avg_numproviders,avg_numproviders,median_numproviders
0,1,100012282,2020-04-02 14:00:00,Complete,News,Unknown,Unknown,US-SOUTH-FL-Ocala,0.000000,None of the above / Not working for pay,9272,SOUTH,FL,Ocala,10.0,10.0,10.0
1,2,1000296325,2020-04-02 03:00:00,Complete,News,Male,55-64,US-SOUTH-AL-Muscle Shoals,0.868838,I continue to commute to work,22582,SOUTH,AL,Muscle Shoals,5.0,5.0,5.0
2,3,1000475325,2020-04-01 22:00:00,Complete,Reference,Female,55-64,US-MIDWEST-MI,0.626525,None of the above / Not working for pay,5775,MIDWEST,MI,NaN,NaN,NaN,NaN
3,4,1000492508,2020-04-02 15:00:00,Complete,News,Male,55-64,US-SOUTH-TN-Nashville,0.868838,I continue to commute to work,20659,SOUTH,TN,Nashville,NaN,NaN,NaN
4,5,1000512424,2020-04-03 14:00:00,Complete,News,Female,45-54,US-SOUTH-TX,0.966719,Used to work from home and still do,32449,SOUTH,TX,NaN,NaN,NaN,NaN

In [7]:
## get number working numbers by city

# indicator for type of survey respondent
qs = list(merged['q'].unique())
for q in merged['q'].unique():
    merged[q] = merged['q'] == q
    
# create final city-level dataset: number of providers, number of respondents not working, working remotely, etc. 
mgby = merged.groupby(['state', 'city'])
final = mgby[['avg_numproviders', 'median_numproviders']].max().reset_index()
final = final.merge(
    mgby[qs].sum().reset_index(),
    on = ['state','city'])

# merge population data
final = final.merge(xwalk_pop, on = ['state', 'city'], how = 'left')

final.to_csv('data/city_broadband_work.csv')
final.head(10)

,state,city,avg_numproviders,median_numproviders,None of the above / Not working for pay,I continue to commute to work,Used to work from home and still do,"Used to commute, now work from home",I have recently been furloughed or laid-off,"Used to work from home, but now I commute",place_2000_pop
0,AK,Anchorage,NaN,NaN,12.0,7.0,1.0,6.0,1.0,0.0,NaN
1,AK,Wasilla,3.0,3.0,5.0,0.0,0.0,2.0,1.0,0.0,5469
2,AL,Alabaster,4.0,4.0,9.0,6.0,2.0,2.0,1.0,0.0,22619
3,AL,Andalusia,5.0,5.0,3.0,1.0,0.0,1.0,0.0,0.0,8794
4,AL,Atmore,6.0,6.0,3.0,2.0,0.0,1.0,0.0,0.0,7676
5,AL,Auburn,8.0,8.0,4.0,4.0,2.0,2.0,0.0,0.0,42987
6,AL,Birmingham,6.5,6.5,36.0,30.0,5.0,13.0,5.0,2.0,242307513
7,AL,Calera,4.5,4.5,5.0,2.0,1.0,0.0,0.0,0.0,307979
8,AL,Chelsea,NaN,NaN,3.0,1.0,2.0,1.0,0.0,0.0,NaN
9,AL,Clanton,5.0,5.0,4.0,0.0,0.0,1.0,0.0,0.0,7800